/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* line 7, ../sass/screen.scss */
a { text-decoration: none; }

/*************
	common ************/
/* line 14, ../sass/style.scss */
.cFix:after, .head_in:after { display: block; content: ""; clear: both; height: 0; font-size: 0; visibility: hidden; }

/***************
	header
****************/
/* line 41, ../sass/style.scss */
header { width: 100%; padding: 20px 0 20px 0; background-image: url('../img/bg_head.jpg?1444963312'); }

/* line 46, ../sass/style.scss */
.head_in { width: 980px; margin: 0 auto; }

/* line 50, ../sass/style.scss */
.logo { float: left; }
/* line 53, ../sass/style.scss */
.logo h1 a { font-size: 44px; color: #fff; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
/* line 57, ../sass/style.scss */
.logo h1 a:hover { color: #4d4d4d; }

/* line 65, ../sass/style.scss */
[class*="btn"] { width: 108.88889px; margin-right: 3.26667px; font-weight: bold; padding: 10px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
/* line 73, ../sass/style.scss */
[class*="btn"]:hover { background: #4d4d4d; cursor: pointer; color: #b3b3b3; }

/* line 79, ../sass/style.scss */
.button_group { float: right; }

/*********************
content
**********************/
/* line 86, ../sass/style.scss */
.padd, .content_in, .con_left ul li, .con_right { padding: 10px 0; }

/* line 89, ../sass/style.scss */
.content_in { width: 980px; margin: 0 auto; }

/* line 93, ../sass/style.scss */
[class*="sec"] { width: 100%; }

/* line 96, ../sass/style.scss */
.con_left { width: 30.61224%; float: left; }
/* line 97, ../sass/style.scss */
.con_left ul li { border-bottom: 1px solid #4d4d4d; }

/* line 105, ../sass/style.scss */
.con_right { width: 67.34694%; float: right; }
/* line 109, ../sass/style.scss */
.con_right p { margin-bottom: 20px; }
